/* Gallery styling*/
.gallery-nav {
    height: 35%;
}
.gallery-row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.gallery-column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.gallery-column img {
    margin-top: 8px;
    width: 100%;
}

@media screen and (max-width: 475px) {
    .gallery-nav nav a {
        font-size: 0.65rem;
        margin: 5px;
        padding: 5px;
    }

    .gallery-nav {
        height: 40%;
    }

    .gallery-nav h1 {
        font-size: 5rem;
    }

  }